{% extends 'base.html' %}

{% block content %}
<form method="POST" novalidate>
	{% csrf_token %}
	<h2>Sign Up</h2>

	{% for field in form %}
	<p>
		{% if field.errors %}
		<ul class="errorlist">
			{% for error in field.errors %}
			<li>{{ error }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	 	{{ field.label_tag }} {{ field }}
	</p>
	{% endfor %}
	<input type="submit" value="Register" />
	<p> Already has an account? <a href="{% url 'login' %}">Login</a> </p>
</form>
{% endblock content%}

<!-- novalidate :  HTML5 유효성 검사 제거 , 프로젝트완료하면 속성제거   -->

